<div class="container" style="align-content: center">
    <div class="jumbotron" >
   <h3> Welcome to {{title}}</h3>
  
  <div class="">Firstname: <input  class="form-control" type="text" ></div>
  <div >LastName:  <input  class="form-control" type="text" ></div> 
  <div >Email:  <input  class="form-control" type="email"></div>
  <div >Phone:  <input  class="form-control" type="phone" ></div> <br>
  <div> <button  class="btn btn-secondary" (click)="fetch1()" >submit </button> &nbsp;
        <button  class="btn btn-secondary" >signUp</button>
  </div>
  
     </div>


  </div>